<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>

</head>

<body>
  <% if (error === undefined) { -%>
    <div class="alert alert-danger" role="alert">
      You need to log in first
      <a href="/login">Log in</a>
    </div>

  <% } else { -%>
    <% if (error === 400) { -%>
        <div class="alert alert-danger" role="alert">
          400 Bad Request
          <a href="/">Home</a>
        </div>

    <% } else if (error === 403) { -%>
        <div class="alert alert-danger" role="alert">
          403 Forbidden
          <a href="/">Home</a>
        </div>

    <% } -%>
  <% } -%>
</body>

</html>