<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" autocomplete="off" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </body>
</html>