<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
  <div class='col-sm-7 container center-block'>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2 container">
        <label for="longURL">Enter a URL: (always start with 'http://') </label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" autocomplete="off" style="width: 300px; margin-bottom: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>