<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
  <h3>Tiny URL for <%= longURL %> is <a href="http://localhost:8080/u/<%= shortURL %>">http://localhost:8080/u/<%= shortURL %></a></h3>
    <form method="POST" action="/urls/<%= shortURL %>">
      <label for="longURL">Enter a new URL to edit:</label>
      <input class="form-control" type="text" name="longURL" placeholder="http://" autocomplete="off" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>