<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
<div class='col-sm-7 container center-block'>
  <h3>Registration page</h3>

  <form method="POST" action="/register">
    <label for="email">Enter email:</label>
    <input class="form-control" type="email" name="email" placeholder="email" autocomplete="off" style="width: 300px; margin-bottom: 1em">
    <label for="password">Enter password:</label>
    <input class="form-control" type="password" name="password" placeholder="password" autocomplete="off" style="width: 300px; margin-bottom: 1em">
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
</body>

</html>