<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
  <h1>Tiny App</h1>
    <a href='#'>Create New URL</a>
  <h3>My URLs:</h3>
  <% if (urls) { %>
    <% for (let key in urls) { -%>
      <li><%= key  %> => <%= urls[key] %></li>
    <% } -%>
  <% } %>

</body>
</html>