<% include ./partials/_header %>
<body style="font-size:20px; padding:50px;">
  <h1>Tiny App</h1>
    <a href='#'>Create New URL</a>
  <h3>Tiny URL for <%= longURL%></h3>
  <%= shortURL %>
</body>
</html>